<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DEMO_Swift_Protocols.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>328F18751C63C353006D4478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>328F18891C63C354006D4478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>328F18941C63C354006D4478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
